<%= render 'layouts/error_messages', book: book_comment %>

<%= form_with(model: [book, book_comment]) do |form| %>
  <div class="row">
    <div class="col-sm-12">
        <%= form.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= form.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>